{% extends "base.html" %}
{% block contents %}
<!-- Pass in a list of "restaurants", display the restaurants in a card manner. -->
<br>
{% import "modal.html" as modal %}
{{ modal.popup(foodchain_list,category_list,session['location']) }}
<h1> Best Restaurants in {{ location }} </h1>
<div class="row row-cols-1 row-cols-md-5 g-4">
  {% for i in l %}
    {% import "restaurant_template2.html" as restaurant%}
    {{ restaurant.restaurantData(
      i['name'],i['addr'],i['postalcode'],i['link'],i['city'],i['country'],i['categories'],i['websites']
      ) }}
  {% endfor %}
</div>
{% endblock %}
